@media only screen and (max-width:767px) { 
	body {
	    padding: 0;
	    margin: 0;
	}
	.content,
	.top {
	    border-radius: 0
	}
	.top .logo {
	    float: none;
	    text-align: center;
	    margin-bottom: 10px;
	}
	.top .social-media {
	    width: 140px;
	    margin: 0 auto;
	    float: none;
	}
	.middle  .basic-info {
	    text-align: center;
	    background: url("../img/basic-info-sep.png") no-repeat transparent center bottom;
	    margin-bottom: 30px;
	    padding-bottom: 10px;
	}
	.middle  .main-image,
	.middle  .main-info,
	.middle .secondary-info {
	    float: none
	}
	.middle .main-info {
	    margin-top: 20px
	}
	.middle .personal-info {
	    background: none;
	    margin-left: 0;
	    padding-left: 0;
	}
	.middle .dl-horizontal dd {
	    margin-top: -30px
	}
	.middle .block.last {
	    margin-bottom: 25px
	}
	.filter li {
	    display: block;
	    float: left;
	    margin-bottom: 10px;
	}
	.filterable {
	    width: 190px;
	    margin: 0 auto;
	}
	.filterable > li {
	    margin-left: 0
	}
	.middle#contact form input#inputEmail {
	    margin-left: 0
	}
	.links {
	    border-radius: 0
	}
	.links .nav {
	    border-left: none;
	    width: auto;
	}
	.links .nav > li:first-child {
	    border-left: none
	}
	.links .nav > li:last-child {
	    border-right: none
	}
	.links .nav > li > a {
	    width: auto
	}
	.footer {
	    display: none
	}
}
@media only screen and (min-width:480px) and (max-width:767px) { 
	.filterable,
	.filter {
	    width: 420px;
	    margin: 0 auto;
	}
	.filterable > li {
	    margin-left: 20px
	}
	#masonry-wrapper {
	    margin-left: -35px
	}
}
@media only screen and (min-width:767px) and (max-width:959px) { 
	.filterable,
	.filter {
	    width: 630px;
	    margin: 0 auto;
	}
	#masonry-wrapper {
	    margin-left: -35px
	}
}
@media only screen and (min-width:360px) { 
	.links .nav {
	    width: 415px;
	    margin: 0 auto;
	    border-left: 1px solid #f0f0f0;
	    border-right: 1px solid #f9f9f9;
	}
	.links .nav > li {
	    border-right: 1px solid #f0f0f0;
	    border-left: 1px solid #f9f9f9;
	}
	.links .nav > li > a {
	    width: 106px
	}
}