/* IE 10 in Windows 8 and Windows Phone 8 fix
--------------------------------------------------------------------- */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/* Media Queries
--------------------------------------------------------------------- */

/*  Small devices (tablets, 480px and up) */
@media (max-width: 480px) {
	body {
		text-align: center;
	}
	
	.slider .sl-slider h2,
	.slider .sl-slider blockquote,
	.slider .sl-slider blockquote cite {
		padding: 0;
	}
	
	.slider .sl-slider h2 {
		font-size: 30px;
		padding-top: 70px;
	}
	
	.slider .sl-slider blockquote {
		padding-top: 20px;
	}
	
	.aboutwrap hr,
	.serviceswrap hr,
	.contactwrap .mapwrap hr {
		width: 200px;
	}
	
	.contactwrap #social a {
		display: inline-block;
		float: none;
	}
	
	.contactwrap .mapwrap h2 {
		font-size: 30px;
	}
	
	.copywrap {
		padding-bottom: 20px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
